<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.matsushige"
    android:versionCode="122"
    android:versionName="1.2.2">

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".nfcv2.Nfc_simple"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <activity
            android:name=".nfcv2.db.ActLogDatabaseActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".nfcv2.activity.UnknownUserActivity"
            android:launchMode="singleTop"
            android:label="@string/title_activity_unknown_user" />
        <activity
            android:name=".nfcv2.activity.TemporaryUserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nfcv2.activity.FirstUserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nfcv2.db.TemporaryUsersDatabaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nfcv2.activity.RegularUserActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nfcv2.db.UserDatabaseActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service android:name=".nfcv2.SendDataService" />
        <service android:name=".nfcv2.ReceiveDataService" />
        <service android:name=".nfcv2.RelayOpenTimerIntentService" />
        <service android:name=".nfcv2.CountTimeAllUser" />
    </application>

</manifest>